p.small,button.small,li.small {
       font-variant: small-caps;
       font-size: 12pt;
}
.premium-slide1{
    background-color: rgb(204, 168, 228);
}
.premium-slide2{
    background-color: rgb(142, 198, 207);
}
.premium-slide3,.premium-slide5,.support1{
    background-color: rgb(255, 255, 255);
}
.premium-slide4,.support2{
    background-color: rgb(187, 187, 187);
}

ul.tick {
    list-style: none;
  }
  
  ul.tick li:before {
    content: '✓';
  }
.bg-green{
    background-color: rgb(95, 236, 154);
}
.bg-charcoal{
    background-color: rgb(36, 35, 35);
}

li.inline{
    display: inline;
}

div.orange{
    background-color: rgb(252, 194, 86);
}

