h1{
    font-size: 7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}
h3{
    font-size: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(109, 8, 109);
}